.bookForm{
    width: 40vw;
    height: 95vh;
    max-height: 95vh;
    overflow: auto;
    background-color: white;
    color: skyblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookForm select{
    width: 30vw;
    font-size: 12pt;
    color: skyblue;
    height: 7vh;
    margin-top: 5vh;
}

.categoryBox .categorySelect{
    width: 26vw;
    margin-right: 1vw;
    margin-top: 0;
}

.categoryBox{
    width: 30vw;
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: 2vh 0;
}

.otherCategoryButton{
    width: 7vh;
    height: 7vh;
    background-color: darkorange;
    background-image: url("../images/menu.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
}

.otherCategoryButton:hover{
    cursor: pointer;
    background-color: orange;
}

.addBookButton{
    background-color: darkorange;
    color: white;
    border: none;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
    border-radius: 10px;
    background-image: url("../images/add.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 40%;
    padding-left: 2vw;
}

.addBookButton:hover{
    cursor: pointer;
    background-color: orange;
}