.editAuthorForm{
    margin: 7vh 0 0 6vw;
    align-items: center;
    width: 55vw;
}

.editAuthorForm input{
    width: 10vw;
    height: 5vh;
    margin-right: 2vw;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 0.5vw;
}

.editAuthorForm input:focus{
    outline: none;
    box-shadow: 0 0 10px 2px skyblue;
}

.editAuthorForm label{
    margin-right: 1vw;
}

.saveButton{
    background-color: rgb(72, 201, 72);
    color: white;
    border: none;
    width: 15vw;
    height: 7vh;
    margin: 3vh 3vw 0 9vw;
    border-radius: 7px;
}

.saveButton:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.deleteButton{
    background-color: red;
    color: white;
    border: none;
    width: 15vw;
    height: 7vh;
    margin-top: 2vh;
    border-radius: 7px;
}

.deleteButton:hover{
    background-color: darkred;
    cursor: pointer;
}
