.filterForm{
    background-color: white;
    width: 40vw;
    height: 90vh;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: skyblue;
}

.filterForm select{
    width: 30vw;
    color: skyblue;
    font-size: 12pt;
    margin-top: 5vh;
    height: 7vh;
}

.filterButton{
    background-color: darkorange;
    color: white;
    border: none;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
    border-radius: 10px;
    background-image: url("../images/filter-filled-tool-symbol.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 40%;
    padding-left: 2vw;
}

.filterButton:hover{
    cursor: pointer;
    background-color: orange;
}

.inputs{
    width: 30vw;
    color: skyblue;
    margin-top: 5vh;
}