.profileSide{
    height: 100vh;
    width: 35vw;
    background-color: skyblue;
    margin: 0;
    padding: 5vh 0 0 1vw;
}

.col-3{
    float: left; 
    width: 30vw; 
    margin: 10px 3%; 
    position: relative;
} 

.profileSide input[type="text"]{
    color: white; 
    width: 30vw; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    background-color: skyblue;
    background-image: url("../images/editing.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right;
}

:focus{outline: none;}

.effect-7{
    border: none; 
    border-bottom: 1px solid white;
    padding: 7px 14px 9px 9px; 
    transition: 0.4s;
}

.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after{
    content: ""; 
    position: absolute; 
    top: 0; left: 50%; 
    width: 0; height: 2px; 
    background-color: white; 
    transition: 0.4s;
}

.effect-7 ~ .focus-border:after{
    top: auto; 
    bottom: 0;
}

.effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after{
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    width: 2px; 
    height: 0; 
    background-color: white; 
    transition: 0.6s;
}
.effect-7 ~ .focus-border i:after{
    left: 30vw; 
    right: 0;
}
.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after{
    left: 0; 
    width: 30vw; 
    transition: 0.4s;
}
.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after{
    top: 0; 
    height: 100%; 
    transition: 0.6s;
}

.profileSide>h1{
    color: white;
    text-align: center;
}

.profileSide>h4{
    color: white;
    margin-left: 1.5vw;
    margin-top: 4vh;
}

.personalBox{
    display: flex;
    flex-direction: column;
}

.profilePic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 2vh 0 1vh 10vw;
    background-image: linear-gradient(to right, white, blue);
}

.passButton{
    background-color: skyblue;
    border: 2px solid white;
    font-weight: bold;
    width: 30vw;
    height: 7vh;
    color: white;
    transition: all ease-in-out 0.3s;
    margin-left: 1vw;
    margin-top: 2vh;

}

.passButton:hover{
    background-color: white;
    color: skyblue;
}

.settings{
    display: flex;
    margin: 5vh 0 0 0;
    align-items: baseline;
}

.toggle{
    margin-right: 17vw;
    margin-left: 2vw;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 50px;
    height: 30px;
}

.toggle label::after {
    background-color: yellow;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 22px;
    height: 22px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #555;
    border-color: #555;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #f0f0f0;
    transform: translateX(22px);
}

.help{
    list-style-type: none;
    display: flex;
    margin: 1.5vh 0 0 0;
    color: white;
    justify-content: space-between;
}

.helpIcon{
    width: 25px;
    height: 25px;
    background-image: url("../images/help-web-button.png");
    background-size: cover;
    margin-right: 2px;
}

.help li:hover{
    cursor: pointer;
    text-decoration: underline;
}
