.authorDiv{
    background-color: lightcoral;
    border: 20px solid red;
    border-radius: 20px;
    width: 60vw;
    height: 45vh;
    display: flex;
    color: white;
    font-weight: bold;
    margin: 5vh 0 0 2.5vw;
    transition: all ease-in-out 0.3s;
}

.authorDiv:hover{
    cursor: pointer;
    transform: scale(1.035);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.divImage{
    width: 25vw;
    height: 37vh;
    margin-top: 1vh;
}


.prompts{
    width: 30vw;
    padding: 2vh 5vw 0 2vw;
}

.prompts ul{
    list-style-type: none;
    margin-left: -2vw;
    width: 25vw;
}

.prompts ul li{
    width: 23vw;
    height: 5vh;
    margin: 2vh 0 2vh 0;
}