.customTable{
    width: 65vw !important;
    margin: 0vh 0 0 2vw;
}

.tableTitle{
    margin: 0 7vw 0 0;
    color: black;
}

.customTbHeader{
    color: white !important;
}

.scrollingDiv{
    max-height: 55vh;
    overflow-y: auto;
}

.active{
    background-color: skyblue;
}

.overTable{
    display: flex;
    margin: 5vh 0 2vh 2vw;
}

.searchBox{
    width: 40vw;
}

.searchBox input{
    border-color: white;
}

.deleteButton {
    width: 30px;
    height: 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    background-image: url("../images/x-mark.png");
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}

    .deleteButton:hover {
        /*background-color: darkred;*/
        transform: scale(1.2);
        cursor: pointer;
    }

.noResultRow{
    text-align: center;
}